* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: #57DBE7;
}

.container {
  width: 100%;
  text-align: center;
}

.footer-space {
  margin-bottom: 160px;
}

.maincontainer {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.top {
  height: 120px;
  background-color: #3C3333;
  color: #00ccff;
  text-align:left;
  padding-left:30px;
  padding-top:40px;
  vertical-align:middle;
}

.top h1{
  font-size:50px;
  /*letter-spacing: 3px;*/
  font-family:fantasy ;
}

.space-m {
  weight: 100%;
  height: 120px;
}

.space-s {
  weight: 100%;
  height: 60px;
}

#contents {
  margin-left: 10%;
  margin-right: 10%;
  letter-spacing: 5px;
}

.error {
  color: red;
}

.answer_contents {
  width: 450px;
  height: 100px;
  text-align: center;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: black;
  text-align: center;
}

.fa-sign-out-alt {
  cursor: pointer;
}

.bottom {
  text-align: center;
  margin: 30px 40px 30px 20px;
  color: #00ccff;
}

.bottom:active {
  position: relative;
  top: 5px;
}

.close-icon {
  margin: 10px 10px 10px 10px;
  color: white;
}

.footer-icon:hover {
  opacity: 0.5;
}

.open-icon {
  margin: 10px 60px 55px 10px;
  color: black;
  position: fixed;
  bottom: 0;
  right: 0;
}
